.container {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  z-index: 1;
}

.backToHome {
  margin: 20px 20px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.backToHome:hover {
  opacity: 1;
}

.backToHome > span {
  font-size: 3em;
  font-family: "megrim";
  text-shadow: 1px 1px 2px pink;
  filter: drop-shadow(4px 4px 0 #BED0FD); 
}
