.waves {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.wave1 {
  height: 200px;
  display: block !important;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.wave2 {
  height: 100px;
  padding-top: 30px;
  display: block !important;
  position: relative;
}